.buttonforlogin{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    align-self: center;
    align-content: center;
    align-items: center;

}

.Newscar{
height: 50px;
width: 50px;


}
.main{
margin-bottom: 100px;
background-color: aqua;
}